body {
    background: rgb(125, 198, 205);
    color: rgb(0, 0, 0);
    padding: 10px;
    font-family: Arial, sans-serif;
}


#all-contents {
    max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(143, 5, 5);
    margin: 0 auto;
    display: flex;
    padding: 10px;
    border-radius:1ch;
}

h1 {
    display: flex;
    align-items: center;
    color: rgb(2, 2, 2);
    flex: 1;
    margin: 0;
    
}

#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-li {
    display: inline-block;
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: #a601ac;
    text-decoration:wavy;
}

/* main container area beneath menu */
main {
    background: rgb(39, 0, 148);
    display: flex;
    margin-top: 20px;
    border-radius:5ch;
}

.sidebar {
    margin-right: 20px;
    padding: 10px;
}

.sidebar-img {
    width: 200px;
    border-radius:5ch;
}

.content {
    flex: 1;
    padding: 15px;
}

/* interests section styles */
#interests {
    border: 4px rgb(212, 4, 253) ridge;
    padding: 8px;
    margin-top: 20px;
}

h2, h3 {
    margin: 0px;
}
/* Portfolio styles */
.content h1 {
  color: black;
}

#portfolio {
  list-style-type: none;
  padding-left: 0;
}

#portfolio li {
  background: #9b046d;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#portfolio li:hover {
  background: #a80505;
}

#portfolio a {
  text-decoration: none;
  color: #000000;
}